# 여러 가지 인덱싱 방법

In [87]:
import pandas as pd
from pandas import DataFrame

In [88]:
df = DataFrame(data={'Name':['동혁','서진','봉근','병우','영재','승연','수호'],
                      'Color':['red','orange','yellow','green','blue','indigo','violet'],
                      'Num':[1,2,3,4,5,6,7],
                      'Weather':['Sunny','Sunny','Rainy','Sunny','Rainy','Sunny','Sunny'],
                      'Zone':['a','b','c','b','c','c','a']},
                 index=['A','B','C','D','E','F','G'])
df

  Name   Color  Num Weather Zone
A   동혁     red    1   Sunny    a
B   서진  orange    2   Sunny    b
C   봉근  yellow    3   Rainy    c
D   병우   green    4   Sunny    b
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c
G   수호  violet    7   Sunny    a

## 1. iloc : 위치 기반 인덱싱

In [89]:
df.iloc[3,1]  # (4,2)성분 추출 ; 파이썬 0부터 숫자 셈

'green'

In [90]:
df.iloc[3,'Color']  #위치 기반이기 때문에 컬럼명을 넣으면 에러 발생

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

## 2. loc : 명칭 기반 인덱싱

In [91]:
df.loc['B','Color']

'orange'

In [92]:
df.loc[1,2] # 명칭 기반이므로 인덱스 번호를 넣으면 오류 발생

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

### * 슬라이싱 기호  ':'  사용 시 유의사항

In [93]:
print("위치 기반  iloc slicing :\n", df.iloc[0:2, 0], '\n'*2)
print("명칭 기반  loc slicing :\n", df.loc['A':'C', 'Name'])

위치 기반  iloc slicing :
 A    동혁
B    서진
Name: Name, dtype: object


명칭 기반  loc slicing :
 A    동혁
B    서진
C    봉근
Name: Name, dtype: object

#### iloc 같은 경우에는 행 범위를 0:2로 범위를 지정하면 0 이상, 2미만 으로 설정되는데
    - 이는 0 ~ (2-1) 범위로 생각할 수 있음. 이에 반해, 


#### loc은 행 범위를 'A':'C' (0:2)로 지정하면 0이상, 2이하로 설정됨.
    - 이는 문자열로 인덱싱하기 때문에 -1을 할 수 없기 때문임.

In [94]:
df

  Name   Color  Num Weather Zone
A   동혁     red    1   Sunny    a
B   서진  orange    2   Sunny    b
C   봉근  yellow    3   Rainy    c
D   병우   green    4   Sunny    b
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c
G   수호  violet    7   Sunny    a

## 3. Boolean

## Boolean : 불 방식의(특히 컴퓨터와 전자공학에서 참과 거짓을 나타내는 숫자 1과 0만을 이용하는 방식)

In [95]:
df['Num']>3

# 조건을 만족하면 True(1), 만족하지 않으면 False(0) 반환

A    False
B    False
C    False
D     True
E     True
F     True
G     True
Name: Num, dtype: bool

In [96]:
# Num이 3이상인 데이터 구하기
df_boolean = df[df['Num']>3]
df_boolean

  Name   Color  Num Weather Zone
D   병우   green    4   Sunny    b
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c
G   수호  violet    7   Sunny    a

### 특정 column 반환

In [97]:
df[df['Num']>3][['Name','Num']]

# 칼럼이 두 개 이상이므로 [[ ]] 사용

  Name  Num
D   병우    4
E   영재    5
F   승연    6
G   수호    7

In [98]:
# loc 이용
df.loc[df['Num']>3, ['Name','Num']]

# 행 자리에 df['Num']>3,  열 자리에 추출하고 싶은 컬럼명

  Name  Num
D   병우    4
E   영재    5
F   승연    6
G   수호    7

### 3-1 복합조건 사용 boolean
- and 조건일 때는 &
- or 조건일 때는 |
- Not 조건일 때는 ~

In [99]:
df

  Name   Color  Num Weather Zone
A   동혁     red    1   Sunny    a
B   서진  orange    2   Sunny    b
C   봉근  yellow    3   Rainy    c
D   병우   green    4   Sunny    b
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c
G   수호  violet    7   Sunny    a

In [100]:
df[ (df['Num']>3) & (df['Zone']=='c') | (df['Weather']=='Rainy') ]

# Num이 3이상이면서 Zone이 c 이거나(영재, 승연) Weather이 Rainy인(봉근) 사람

  Name   Color  Num Weather Zone
C   봉근  yellow    3   Rainy    c
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c

### 3-2 개별 조건(condition) 변수에 할당한 후에 결합

In [104]:
cond1 = df['Num']>3
cond2 = df['Zone']=='c'
cond3 = df['Weather'] == 'Rainy'

df[cond1 & cond2 | cond3]

  Name   Color  Num Weather Zone
C   봉근  yellow    3   Rainy    c
E   영재    blue    5   Rainy    c
F   승연  indigo    6   Sunny    c